


.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
  font-size: 0;
}

.navbar {
  padding: 0;
  padding-left: 0% !important;
  padding-right: 2.5% !important;
}

/*.navbar-nav.title {
  display: inline-block;
  align-self: flex-end;
}*/

.navbar-logo {
  width: 100%;
  padding: 0;
  max-width: 200px;
  max-height: 200px;
  margin-top: -15px;
  margin-bottom: -15px;
  alt: "Sample Space logo";
}

/* To avoid the side bar obscuring the pagination links on large screens*/
#quarto-content.page-columns #quarto-margin-sidebar, #quarto-content.page-columns #quarto-sidebar {
  z-index: 1;
  padding-top: 3.5em;
  /*If you add more categories you may need to change the max height */
  max-height: 350px !important;
}

