/* css styles */

/* Makes the navigation bar bigger to get the image 
.navbar-brand > img {
  max-height: 72px;
  border-radius: 12%; /* Change this from the original 100%, which would make it a circle 
  box-shadow: var(--shadow-l1);
}
*/

/* Customises the navigation bar */
.navbar{
  padding-left: 5%!important;
  padding-right: 5%!important;
  /*
  background: linear-gradient(180deg,#F6BE00,#A4DBE8);
  */
}

.alt-background {
  background-color: rgb(247,249,251);
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
/* This modifies the title of the summary */
.content-block .card-title {
  color: red;
  font-size: 1.5rem;
}

/* This ***forces*** all images in the articles to be flushed to the right --- BUT: can't be overridden so *all* img-s are flushed to the right! 
img {
  float: right;
  margin-left: 20px;
  margin-top: -0px;
  margin-bottom:0px;
}
*/

.img-right img {
  float: right;
  margin-left: 20px;
  margin-top: -0px;
  margin-bottom:0px;
}

/* Formatting for the main title box in the index page */
.title-box h1 {
  font-size: 48px;
}
.title-box img {
  border-radius: 12%;
}
.title-box {
  margin-top: -40px;
}

/* Formatting for the author box in all the posts */
.author-block {
  border-radius: 30px;
  box-shadow: var(--shadow-l1);
  background: rgb(247,249,251);
  padding: 10px;
  width: 75%;
}
.author-block h1 {
  font-size: 24px;
  margin: 3px
}
.author-block h2 {
  font-size: 18px;
  margin: 3px
}

/* Redefines the styling for the default listing */
// Post (default) Styling
.list.quarto-listing-default div:last-of-type {
  border-bottom: none;
}

.quarto-listing-container-default {
  @include media-breakpoint-up(lg) {
    margin-right: 2em;
  }
}

div.quarto-post {
  display: flex;
  gap: 2em;
  margin-bottom: 1.5em;
  @include media-breakpoint-down(md) {
    padding-bottom: 1em;
  }
  border-bottom: 1px solid $border-color;

  .metadata {
    flex-basis: 20%;
    flex-grow: 0;
    margin-top: 0.2em;
    flex-shrink: 10;
  }

  .thumbnail {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    img {
      margin-top: 0.4em;
      width: 100%;
      object-fit: cover;
    }
  }

  .body {
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 0;

    h3.listing-title {
      margin-top: 0px;
      margin-bottom: 0px;
      border-bottom: none;
    }

    .listing-subtitle {
      font-size: 0.875em;
      margin-bottom: 0.5em;
      margin-top: 0.2em;
    }

    .description {
      font-size: 0.9em;
    }
  }

  a {
    color: $body-color;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    div.description {
      flex-shrink: 0;
    }
  }

  .metadata {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-family: $font-family-base;
    flex-basis: 33%;
  }

  .listing-categories {
    @include listing-category();
  }

  .listing-description {
    margin-bottom: 0.5em;
  }
}

/* Cara Thompson modifications from here onwards */

.fa, .fas, .bi, .fa-solid {
  color: #F6BE00;
}

.nav-link {
  color: #F6BE00;
}
.nav-link:hover, .nav-link:focus {
  color: #F6BE00;
}


.navbar-logo {
  width: 100%;
  max-width: 75px;
  max-height: 75px;
}

.navbar {
  background-color: #141812;
  border-bottom: #A4DBE8;
  border-bottom-style: solid;
  border-bottom-width: 0.5em;
}

/* Controls how quickly the header disappears*/
header.headroom {
  will-change: transform;
  transition: all 250ms linear;
}

/* Controls search icon colour*/
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  color: #F6BE00;
}

.page-item .page-link {
  z-index: 3;
  color: #F7F6E4;
  background-color: #4A6162;
}

.page-item.active .page-link {
  z-index: 3;
  color: #FFF;
  background-color: #4A6162;
  border-bottom-color: #F6BE00;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.column-page-bg {
  background-color: #F5F5F5;
  padding: 1.5em;
}


.column-screen-bg {
  background-color: #F5F5F5;
  padding: 1.5em;
}

.author-block {
  border-radius: 0px;
  background: #F5F5F5;
  padding: 1.5em;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

img, svg {
  vertical-align: middle;
  width: auto;
}


.category {
   color: #2C3836;
}

.quarto-title-banner {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  background-color: #141812;
  border-bottom: #A4DBE8;
  border-bottom-style: solid;
  border-bottom-width: 0.5em;
}

#title-block-header .title {
  font-weight: 600;
  color: #FFFFFF;
}


#title-block-header .subtitle {
  font-weight: 400;
  color: #F5F5F5;
}


#title-block-header a {
  color: #F5F5F5;
  text-decoration: underline;
}